{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/fondpages.css') }}">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Présentation
{% endblock %}
{% block body %}
	<div class="gestion__bg">
		<span class="gestion__bg span1"></span>
		<span class="gestion__bg span2"></span>
		<span class="gestion__bg span3"></span>
		<span class="gestion__bg span4"></span>
		<span class="gestion__bg span5"></span>
		<span class="gestion__bg span6"></span>
		<span class="gestion__bg span7"></span>
		<span class="gestion__bg span8 txt__pages">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti repudiandae odit suscipit sunt tenetur inventore ea nesciunt. A, quia, odit, rem ducimus id quisquam voluptatibus qui aliquid fugit fugiat culpa.
		Facilis ab quibusdam commodi aspernatur ipsa. Fugiat, voluptatum nobis ab laudantium ad sapiente dolores aliquam nesciunt doloremque magni accusantium sint possimus eius labore sunt fugit quas vel odio earum voluptates.
		</span>
	</div>
{% endblock %}
