{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/fondpages.css') }}">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Présentation
{% endblock %}
{% block body %}
	<div class="gestion__bg">
		<span class="gestion__bg span1"></span>
		<span class="gestion__bg span2"></span>
		<span class="gestion__bg span3"></span>
		<span class="gestion__bg span4"></span>
		<span class="gestion__bg span5"></span>
		<span class="gestion__bg span6"></span>
		<span class="gestion__bg span7"></span>
		<span class="gestion__bg span8"><p class="txt__pages">	
Commençons par une petite présentation, pour mettre un visage et mieux cibler les valeurs qui me définissent au quotidien !<br>

Je m’appelle Laura, j’ai 34 ans et je vis du côté de Six-Fours-Les-Plages dans le Var.<br>

Côté vie professionnelle, j’ai été attirée par la petite enfance dès mon plus jeune âge et c’est donc tout naturellement que je me suis dirigée vers le métier d’auxiliaire de puériculture. J’ai obtenu le diplôme en 2014, ce qui m’a permis d’exercer jusqu’à ce jour en structures d’accueil de jeunes enfants de type crèches.<br>

Cela m’a permis d’affiner ma pratique, de mieux comprendre les enjeux dans le développement de l’enfant, de travailler mon sens du relationnel et de construire la professionnelle que je suis aujourd’hui. En parallèle, il est vrai que le rythme de travail est de plus en plus soutenu et qu’il devient parfois très difficile de pouvoir répondre aux nombreux questionnements des familles, de proposer des outils concrets à mettre en place en cas de difficultés.<br>

C’est pourquoi j’ai pris la décision d’aller me former à l’Ecole du Bien Naître en massage bébé, réflexologie bébé émotionnelle et allaitement.<br>
J’ai également suivi une formation pour être monitrice de portage auprès de l’association Transmettre Ensemble Le Portage. Le but étant de créer ma propre activité d’accompagnante périnatale en complément de mon métier d’auxiliaire de puériculture.<br>

Entre temps, je suis devenue moi-même maman d’un petit bout au mois d’août 2022 ce qui a rendu ce projet d’autant plus concret ! En effet, je me suis retrouvée confrontée à de nombreuses difficultés et utiliser ces différents outils appris en formation m’a permis de mieux comprendre mon bébé en l’apaisant tout en créant du lien avec lui.  J’ai alors réalisé la nécessité d’accompagner les familles dans leur nouvelle parentalité !<br>

C’est donc tout naturellement que j’ai créé « Parenthèse Enveloppée » en avril 2023 après avoir longuement mûri les choses.
Je propose donc des ateliers aux familles, à leur domicile en individuel pour un moment entièrement personnalisé. Les ateliers peuvent également être proposés en collectif ce qui permet aux familles de rencontrer d’autres familles vivant les mêmes choses, ça crée du lien en plus avec l’extérieur.<br>

Si vous êtes tenté(e)s par un moment de partage avec votre enfant en utilisant des gestes concrets, venez me rencontrer et accordez-vous cette parenthèse de douceur !</p>	
		</span>
	</div>
{% endblock %}
