@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

@font-face {
    font-family: 'Mali-Regular';
    src: url(../fonts/Mali-Regular.ttf);
}

// Variables
$header-height: 120px;
$logo-size: 90px;
$font-stack: 'Mali-Regular', 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$gradient-header: linear-gradient(135deg, #D7972D 0%, #FFC46D 20%, #F8C492 50%, #F6D2A9 70%, #FFCA7F 100%);
//linear-gradient(135deg, #fda15d 0%, #eaa26e 49%, #df9f6f  69%, #e1bfa6 100%); //(135deg, #af7372 0%, #c3928e 49%, #d0adab 69%, #f0e2e1 100%);
$gradient-footer: linear-gradient(135deg, #FFCA7F 0%, #F6D2A9 20%, #F8C492 50%, #FFC46D 70%,#D7972D 100%); //linear-gradient(135deg, #f0e2e1 0%, #d0adab 31%, #c3928e 51%, #af7372 100%);
$dropdown-bg: linear-gradient(180deg, transparent 0%, #d2b4b3 0%, #dbc2c0 100%);
$box-shadow: 10px 6px 15px rgba(0, 0, 0, 0.5);
$border-radius: 10px;

// Mixins
@mixin box-shadow-hover {
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    }
}

// Main content
main {
    margin-top: $header-height; /* Ajuster cette valeur en fonction de la hauteur du menu */
}

// Header

.logo-header {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px; // Ajout de marges pour séparer le logo des autres éléments
}

.logo {
    width: $logo-size;
    height: auto;
    border-radius: 50%;
    @include box-shadow-hover;
}

header.mainHeader {
    background: $gradient-header;
    width: 100%;
    position: absolute;
    top: 0;
    height: $header-height;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
        filter: blur(8px);
    }
}

#menu {
    text-align: center;
}

.navHeader {
    position: relative;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            display: inline-block;
            margin-left: 35px;
            font-size: 15px;
            font-family: $font-stack;

            a:not(.dropdown a) {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: #000;
                border: 1px solid white;
                box-shadow: $box-shadow;
                border-radius: $border-radius;
                @include box-shadow-hover;
            }
        }
    }
}

#reserver {
    margin-right: 35px;
}

.menuPresentation {
    margin: 0;
}

// Dropdown menus
.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-button {
        background: transparent;
        padding: 10px 16px;
        margin-left: 30px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        font-family: $font-stack;
        border: 1px solid white;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        @include box-shadow-hover;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: calc(100% + 10px); // Positionné juste en dessous du bouton dropdown
        left: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        font-family: $font-stack;
        background: $dropdown-bg;
        text-align: left;
        min-width: 132px;
        z-index: 1;

        a {
            color: black;
            padding: 12px 13px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: none;
                color: white;
            }
        }
    }

    &:hover {
        .dropdown-button {
            color: white;
        }
    }

    .dropdown-button:focus + .dropdown-content,
    .dropdown-button:active + .dropdown-content,
    .dropdown-content:hover {
        display: block;
    }
}

// Animation pour le dropdown
@keyframes dropdown-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Media queries
@media screen and (min-width: 2560px) {
    nav li {
        margin-left: 100px;
        font-size: 18px;
    }

    .dropdown-button {
        margin-left: 100px;
        font-size: 18px;
    }

    .dropdown-content {
        margin-left: 100px;
        min-width: 145px;
    }
}

@media only screen and (max-width: 800px) {
    .logo-header {
        left: 15px;
    }
}

// Footer
footer {
    background: $gradient-footer;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: $font-stack;
    border-top: 3px solid #fff;
}
