/*------------------------- Gestion Header et Footer pour toutes les pages base.html.twig -----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

@font-face {
    font-family: 'Mali-Regular';
    src: url(../fonts/Mali-Regular.ttf);
}

/*------------------------------------------------ Header---------------------------------------------------------------------------------------*/
.logo-header {
    position: absolute;
    top: 15px;
    left: 100px;
    border-radius: 50%;
    height: 90px;
    width: auto;
    z-index: 2;
}

header {
    background: linear-gradient(135deg, rgba(175, 115, 114, 1) 0%, rgba(195, 146, 142, 1) 49%, rgba(208, 173, 171, 1) 69%, rgba(240, 226, 225, 1) 100%);
    width: 100%;
    position: absolute;
    top: 0;
    height: 120px;
}

header::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
    filter: blur(8px);
}

#menu {
    text-align: center;
}

.navHeader {
    position: relative;
    top: 70px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Mali-Regular', 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.menuPresentation {
    margin: 0px;
}

nav a:hover {
    color: #fff;
}

/*------------------------------------------------------------------------------- Burger Menu ---------------------------------------------------------------*/
@media only screen and (max-width: 800px) {

    .logo-header {
        left: 15px;
    }
}

/*-------------------------------------------------------------------------------- Footer -----------------------------------------------------------------------*/
footer {
    background: linear-gradient(135deg, rgba(240, 226, 225, 1) 0%, rgba(208, 173, 171, 1) 31%, rgba(195, 146, 142, 1) 51%, rgba(175, 115, 114, 1) 100%);
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Mali-Regular', 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}