{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Prenez rendez-vous{% endblock %}

{% block body %}
    <div class="rdvForm">
    <h1>Prenez rendez-vous</h1>

    {{ include('appointment/_form.html.twig') }}

    <a href="{{ path('app_calendar') }}">Retour au calendrier</a>
    </div>
{% endblock %}
{% block javascripts %}
<script>
   $(document).on('change', '#appointment_debut input', function() {
    console.log('Lancement de la fonction change');
    var debut = $('#appointment_debut input').val();
    var duration = $('#appointment_serviceId option:selected').data('duration');
    if (debut && duration) {
        console.log('Début et durée sont définis');
        var debutDate = new Date(debut);
        var fin = new Date(debutDate.getFullYear(), debutDate.getMonth(), debutDate.getDate(), debutDate.getHours(), debutDate.getMinutes() + parseInt(duration));
        var finISO = fin.toISOString().slice(0, 16);
        $('#appointment_fin').val(finISO);
        console.log('Fin : ' + finISO);
    }
});

$(document).ready(function() {
    $('#appointment_serviceId, #appointment_debut input').change();
});
</script>
{% endblock %}