{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Prenez rendez-vous{% endblock %}

{% block body %}
    <div class="rdvForm">
    <h1>Prenez rendez-vous</h1>

    {{ include('appointment/_form.html.twig') }}

    <a href="{{ path('app_calendar') }}">Retour au calendrier</a>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    $('#appointment_serviceId, #appointment_debut').change(function() {
        var debut = $('#appointment_debut').val();
        var duration = $('#appointment_serviceId option:selected').data('duration');
        if (debut && duration) {
            var fin = new Date(debut);
            fin.setMinutes(fin.getMinutes() + parseInt(duration));
            $('#appointment_fin').val(fin.toISOString().slice(0, 16));
        }
    });
</script>
{% endblock %}